extends /_includes/layout

block title
    title Cuberto Particles | Demo

block content

    .cb-layout#view-main
        .cb-content

            .cb-tabs.-inverse
                .cb-tabs-navs
                    .cb-tabs-nav.-active
                    .cb-tabs-nav
                    .cb-tabs-nav
                .cb-tabs-content.-active
                    header.cb-demo.-v1
                        .cb-particles
                            .cb-particles-item.-dot.-v1.-s1.-c3
                            .cb-particles-item.-dot.-v2.-s2.-c4
                            .cb-particles-item.-dot.-v3.-s3.-c5
                            .cb-particles-item.-dot.-v4.-s1.-c1
                            .cb-particles-item.-dot.-v5.-s2.-c4
                            .cb-particles-item.-dot.-v6.-s3.-c2
                            .cb-particles-item.-dot.-v7.-s4.-c1
                            .cb-particles-item.-dot.-v8.-s2.-c4
                            .cb-particles-item.-dot.-v9.-s3.-c5
                            .cb-particles-item.-dot.-v10.-s3.-c1
                            .cb-particles-item.-dot.-v11.-s3.-c3
                        .cb-demo-content
                            .cb-demo-container
                                .cb-demo-header
                                    h1 Awesome#[br] particles
                .cb-tabs-content
                    section.cb-demo.-v2
                        .cb-particles
                            .cb-particles-item.-emoji.-v1.-s6 👍
                            .cb-particles-item.-emoji.-v2.-s6 🎉
                            .cb-particles-item.-emoji.-v3.-s6 🔑
                            .cb-particles-item.-emoji.-v4.-s6 👌
                            .cb-particles-item.-emoji.-v5.-s6 🎈
                            .cb-particles-item.-emoji.-v6.-s6 💎
                            .cb-particles-item.-emoji.-v7.-s6 💡
                            .cb-particles-item.-emoji.-v8.-s6 🗿
                            .cb-particles-item.-emoji.-v9.-s6 🧨
                            .cb-particles-item.-emoji.-v10.-s6 🎁
                            .cb-particles-item.-emoji.-v11.-s6 🏀
                        .cb-demo-content
                            .cb-demo-container
                                .cb-demo-header
                                    h1 Emoji#[br] downfall
                .cb-tabs-content
                    section.cb-demo.-v3
                        .cb-particles
                            .cb-particles-item.-text.-v1.-s4: span Aloha!
                            .cb-particles-item.-text.-v2.-s4: span Ola!
                            .cb-particles-item.-text.-v3.-s4: span Halló!
                            .cb-particles-item.-text.-v4.-s4: span Shalom!
                            .cb-particles-item.-text.-v5.-s4: span ¡Hola!
                            .cb-particles-item.-text.-v6.-s4: span Hei!
                            .cb-particles-item.-text.-v7.-s4: span Привет!
                            .cb-particles-item.-text.-v8.-s4: span Terve!
                            .cb-particles-item.-text.-v9.-s4: span Bonjour!
                            .cb-particles-item.-text.-v10.-s4: span Salam!
                            .cb-particles-item.-text.-v11.-s4: span Ciao!
                        .cb-demo-content
                            .cb-demo-container
                                .cb-demo-header
                                    h1 Hello!

            section.cb-outro
                .cb-outro-content
                    .cb-outro-container
                        .cb-outro-header
                            h2 Credits
                        .cb-outro-list
                            .cb-outro-list-item: a(href="//cuberto.com/", target="_blank") Cuberto
                            .cb-outro-list-item: a(href="//greensock.com/gsap/", target="_blank") GreenSock GSAP
                            .cb-outro-list-item: a(href="//github.com/idiotWu/smooth-scrollbar", target="_blank") Smooth Scrollbar